<!doctype html>
<html data-bs-theme="dark">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale =1, user-scalable=no"
    />
    <link rel="icon" href="static/img/KeyShift.png" type="image/png" />
    <title>Guest WIFI</title>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />
  </head>
  <body>
    <div class="background d-flex align-items-center">
      <div class="container-lg glass-effect flex-column">
        <div class="flex-column">
          <h3 class="text-center mt-3">
            Scan the code
            <hr class="mt-0 mb-0 w-25" />
            <small class="text-body-secondary mt-0"
              >for Guest Wifi Access</small
            >
          </h3>
        </div>
        <div
          class="mx-auto"
          style="width: 80vw; max-width: 350px; aspect-ratio: 1 / 1"
        >
          <img
            src="static/img/{{ guest.ssidName }}.png"
            class="w-100 h-100 p-3 p-md-5"
            style="object-fit: contain"
          />
        </div>
      </div>
    </div>
    <script src="static/js/bootstrap.bundle.js"></script>
  </body>
</html>
