<!DOCTYPE html>
<html data-bs-theme="dark">
  <head>
    <title>Guest WIFI</title>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />
  </head>
  <body>
    <div class="background d-flex align-items-center">
      <div class="container-lg glass-effect flex-column">
        <div class="flex-column">
          <h3 class="text-center mt-3">
            Scan the code
            <hr class="mt-0 mb-0 w-25" />
            <small class="text-body-secondary mt-0"
              >for Guest Wifi Access</small
            >
          </h3>
        </div>
        <div class="d-flex flex-column">
          <hr />
          <div
            class="d-flex h-100 justify-content-center"
            style="min-height: 500px"
          >
            <img class="img-fluid p-5 mx-0" src="static/img/Guestwifi.png" />
          </div>
        </div>
      </div>
    </div>
    <script src="static/js/bootstrap.bundle.js"></script>
  </body>
</html>
